<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Employee Form</title>
<link rel="stylesheet" type="text/css" href="<c:url value="/css/main.css"/>">
</head>
<body>

	<div id="global">
		<form action="#" th:action="@{/employee}" th:object="${employee}" method="post">
			<p>Id: <input type="text" th:field="*{id}" /></p>
			<p>Message: <input type="text" th:field="*{content}" /></p>
			<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
		</form>


<!--		<form:form modelAttribute="employee" action="employee_save" method="post">-->
		<form action="#" th:action="@{/employee}" th:object="${employee}" method="post">

		<fieldset>
				<legend>Add an employee</legend>

				<p>
					<label for="id">ID: </label>
					<input th:text="id" th:field ="${employee.id}" id="id" />
					<div style="text-align: center;">
						<span th:text="" cssStyle="color : red;" />
					</div>
				</p>
				<p>
					<label for="firstName">First Name: </label>
					<input th:text="firstName" th:field="${employee.firstName}" id="firstName" />
					<div style="text-align: center;">
						<span th:text=""  cssStyle="color : red;" />
					</div>
				</p>
				<p>
					<label for="lastName">Last Name: </label>
					<input th:text="lastName" id="lastName" th:field="${employee.lastName}" />
					<div style="text-align: center;">
						<span th:text="" cssStyle="color : red;" />
					</div>
				</p>

				<p>
					<label for="birthDate">Date Of Birth: </label>
					<input th:text="birthDate" th:field="${employee.birthDate}" id="birthDate" />
					<span th:text="" path="birthDate" cssStyle="color : red;" />
				</p>
				<p>
					<label for="salaryLevel">Salary: </label>
					<input th:text="salaryLevel" th:field="${employee.salaryLevel}" id="salaryLevel" />
					<div style="text-align: center;">
						<span th:text="salaryLevel" cssStyle="color : red;" />
					</div>
				</p>
				<h4>Address:</h4>
				<p>
					<label for="street">Street: </label>
					<input th:text="street" th:field="${employee.address.street}" id="street" />
					<div style="text-align: center;">
						<span th:text="address.street" cssStyle="color : red;" />
					</div>
				</p>
				<p>
					<label for="state">State: </label>
					<input th:text="state" th:field="${employee.address.state}" id="state" />
					<div style="text-align: center;">
						<span th:text="address.state" cssStyle="color : red; " />
					</div>
				</p>
				<p>
					<label for="zipCode">Zip: </label>
					<input th:text="address.zipCode" th:field ="${employee.address.zipCode}" id="zipCode" />
					<div style="text-align: center;">
						<span th:text="address.zipCode"  cssStyle="color : red; " />
					</div>
				</p>
				<p id="buttons">
					<input id="reset" type="reset" tabindex="4"> 
					<input id="submit" type="submit" tabindex="5" value="Add Employee">
				</p>
			</fieldset>
		</form>
	</div>
</body>
</html>
