<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Save Employee</title>
<link rel="stylesheet" type="text/css" href="<c:url value="/css/main.css"/>">
</head>
<body>
<div id="global">
    <h4>The employee details have been saved.</h4>
    <p>
        <h5>Details:</h5>
        First Name: <span th:text="${employee.firstName}"> First Name</span> <br/>
        Last Name: <span th:text="${employee.lastName}"> </span> <br/>
        Date of birth: <span th:text="${employee.birthDate}"> </span>
    </p>
</div>
</body>
</html>