<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Employee Form</title>
<link rel="stylesheet" type="text/css" href="<c:url value="/css/main.css"/>">
</head>
<body>

	<div id="global">

		<form action="#" th:action="@{/member}" th:object="${member}" method="post">

		<!--		<form:form modelAttribute="member">-->
			<fieldset>
				<legend>Add an employee</legend>
				<p>
					<span path="*" cssStyle="color : red;" />
				</p>
				<p>
					<label for="firstName">First Name: </label>
					<input th:text="firstName" th:field="${member.firstName}" id="firstName"/>
					<div style="text-align: center;">
						<span th:text="firstName" cssStyle="color : red;" />
					</div>
				</p>
				<p>
					<label for="lastName">Last Name: </label>
					<input th:text="lastName" th:field="${member.lastName}" id="lastName" />
					<div style="text-align: center;">
						<span th:text="lastName" cssStyle="color : red;" />
					</div>
				</p>

				<p>
					<label for="memberNumber">Member Number: </label>
					<input th:text="memberNumber" th:field="${member.memberNumber}" id="memberNumber" />
					<span th:text="memberNumber" cssStyle="color : red;" />
				</p>
				<p>
					<label for="age">Age: </label>
					<input th:text="age" th:field="${member.age}" id="age" />
					<div style="text-align: center;">
						<span th:text="age" cssStyle="color : red;" />
					</div>
				</p>
				<p id="buttons">
					<input id="reset" type="reset" tabindex="4"> 
					<input id="submit" type="submit" tabindex="5" value="Add Member">
				</p>
			</fieldset>
		</form>
	</div>
</body>
</html>
